@charset "utf-8";
/* CSS Document */

.adc-imageSelect .imgZoom {
  position: absolute;
  background: url(magnifyingGlass.png) center center no-repeat;
  bottom: 7px;
  width: 22px;
  height: 22px;
  z-index: 2;
  right: 5px;
}

.adc-imageSelect .imgZoom:hover {
  right: 6px;
  bottom: 8px;
}

.adc-imageSelect .paddingZoom {
  padding-right: 25px !important;
}

/* simplbox lightbox styling */
#simplbox {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  border: 1px solid #999999;
  ms-touch-action: none;
  touch-action: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  z-index: 10;
}

#simplbox-overlay {
  background-color: #e5e5e5;
  filter: alpha(opacity=60);
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#simplbox-loading {
  position: fixed;
  z-index: 13;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: #cccccc;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

.adc-imageSelect * {
    box-sizing: border-box;
}

/* Reponses */
.adc-imageSelect .responseItem
{
    /* Element */
    display:inline-block;
    /*width: 130px;*/
    /*height: 60px;*/
    margin:0 0 5px 0;
    vertical-align:middle;
    cursor:pointer;

    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;

    /* disable highlight text */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;

    position:relative;
}

.adc-imageSelect .response_text
{
    display:block;
    padding:10px;
    line-height:1.2;
    text-align:center;
}

.adc-imageSelect .responseItem img , .adc-imageSelect .imgSpacer
{
    display:inline-block;
    margin:5px;
}

.adc-imageSelect .highlight 
{
    z-index:1;
    display:none;

    position:absolute;
    left:0px; top:0px;
}