@charset "utf-8";
/* CSS Document */

/* Reponses */
.adc-imageSelect .responseItem
{
    /* Element */
	display:inline-block;
    width: 130px;
    height: 60px;
	margin:0 0 10px 5px;
    vertical-align:middle;
	cursor:pointer;

	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;

	/* disable highlight text */
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;

	position:relative;
}

.adc-imageSelect .response_text
{
	display:block;
	padding:10px;
	line-height:1.2;
	text-align:center;
}

.adc-imageSelect .responseItem img , .adc-imageSelect .imgSpacer
{
	display:inline-block;
	margin:5px;
}

.adc-imageSelect .responseItem.selected
{

}

.adc-imageSelect .responseItem.selected .response_text
{

}

.adc-imageSelect .highlight 
{
	z-index:1;
	display:none;

	position:absolute;
	left:0px; top:0px;

}
